STDINCLUDE := -Iinclude $(LIBGCC_INCLUDE)
GLOBAL_CFLAGS := $(GLOBAL_CFLAGS)

LIBS_DIR := lib
LIBS_BUILD_DIR := $(call TOBUILDDIR, lib)
LIBS := $(addprefix $(LIBS_BUILD_DIR)/, \
	libhttp.a \
	libchain.a \
)	

LIBCHAIN := $(LIBS_BUILD_DIR)/libchain.a
LIBHTTP := $(LIBS_BUILD_DIR)/libhttp.a
#$(warning LIBS = $(LIBS))

APPS_DIR := apps
APPS_BUILD_DIR := $(call TOBUILDDIR, apps)
APPS_LDSCRIPT = $(APPS_DIR)/ldscripts/$(ARCH)/app.ld
APPS := $(addprefix $(APPS_BUILD_DIR)/, \
	httpd/httpd \
)
#$(warning APPS = $(APPS))

CMD_DIR := cmd
CMD_BUILD_DIR := $(call TOBUILDDIR, cmd)
CMD_LDSCRIPT = $(CMD_DIR)/ldscripts/$(ARCH)/app.ld
CMD := $(addprefix $(CMD_BUILD_DIR)/, \
	shell/shell \
)
#$(CMD):: $(LIBS)
#$(warning CMD = $(CMD))

EXAMPLES_DIR := examples
EXAMPLES_BUILD_DIR := $(call TOBUILDDIR, examples)
EXAMPLES_LDSCRIPT = $(EXAMPLES_DIR)/ldscripts/$(ARCH)/app.ld
EXAMPLES := $(addprefix $(EXAMPLES_BUILD_DIR)/, \
	demo/demo \
	gfx/gfx \
)
#$(warning EXAMPLES = $(EXAMPLES))

KITS_DIR := kits
KITS_BUILD_DIR := $(call TOBUILDDIR, kits)
KITS_LDSCRIPT = $(KITS_DIR)/ldscripts/$(ARCH)/app.ld
KITS := $(addprefix $(KITS_BUILD_DIR)/, \
	\
)
#$(warning KITS = $(KITS))

STATICFILES_DIR := $(call TOBUILDDIR, static)
STATICFILES := $(addprefix $(STATICFILES_DIR)/, \
)

ALL_LIST = \
	$(APPS) \
	$(CMD) \
	$(EXAMPLES) \
	$(KITS) \
	$(LIBS)

-include config/arch/make.config.$(ARCH)
-include config/platform/make.config.$(PLATFORM)

ALL := \
	$(ALL_LIST)

$(warning ALL = $(ALL))
